/*CSS document*/

body {
  background-image: url("grey-abstract.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

ul {
    list-style: none;
}

a {
    text-decoration:none;
}

/*header and nav begins*/
.name{
  font-size: 55px;
}

header {
    padding: 10px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:static;
    margin-bottom: 20px;
    top: 0px;
    color: white;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 35px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgb(152, 38, 187);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgb(152, 38, 187);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

/*header and nav ends*/

.model{
	height:300px;
	position:absolute;
	top:25%;
	left:70%;
  border-radius: 90%;
  vertical-align: middle;
}
.text-container{
	width:60%;
	height:250px;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 15px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 30px;
}

/*projects*/

.run-buddy {
    width: 900px;
    height: 500px;
    border: solid rgb(255, 255, 255) 5px;  
}

.run-buddy:hover {
  width: 950px;
  height: 550px;
  transition: 1s;
  -webkit-filter: brightness(1.30);
  border: solid 15px #CCC;
  -moz-box-shadow: 5px 5px 0px #999;
  -webkit-box-shadow: 5px 5px 0px #999;
  box-shadow: 5px 5px 0px rgb(181, 67, 196);
}

.horiseon-challenge {
    width: 600px;
    height: 300px;
    border: solid rgb(255, 255, 255) 5px;

}

.horiseon-challenge:hover {
  width: 650px;
  height: 350px;
  transition: 1s;
  -webkit-filter: brightness(1.35);
  border: solid 15px #CCC;
  -moz-box-shadow: 5px 5px 0px #999;
  -webkit-box-shadow: 5px 5px 0px #999;
  box-shadow: 5px 5px 0px rgb(181, 67, 196);
}

/*resume*/

.resume-picture {
  width: 150px;
  height: 150px;
}

.resume-picture:hover{
  width: 200px;
  height: 200px;
  transition: 1s;
  -webkit-filter: brightness(1.35);
  border: solid 15px #CCC;
  -moz-box-shadow: 5px 5px 0px #999;
  -webkit-box-shadow: 5px 5px 0px #999;
   box-shadow: 5px 5px 0px rgb(181, 67, 196);
}
 /*contact me*/
 div {
   flex-direction: row;
 }

 .contact {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
     display: flex;
     justify-content: space-between;
     text-decoration: none;
     font-weight: bold;
     color: var(--primary-color);
     text-shadow: 0 0 10px rgb(152, 38, 127);
 }

 .contact:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
 
/*Media Query*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .text-container {
    font-size: 10px;
  }
  .run-buddy {
     margin-right: 10px;
     margin-left: 10px
  }
  .horiseon-challenge {
    margin-left: 10px;
    margin-right: 10px;
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 575px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 10px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 10px;
    }

    .text-container {
      font-size: 10px;
    }
    .run-buddy {
       margin-right: 10px;
       margin-left: 10px
    }
    .horiseon-challenge {
      margin-left: 10px;
      margin-right: 10px;
